*{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
}

#nav1{
	background-color: green;
	height: 40px;
	width: 750px;
	padding-top: 10px;
	margin: 0px auto;
}

#nav1 li{
	list-style: none;
	display: float;
	float: left;
	width: 150px;
	line-height: 40px;/*垂直方向文本居中*/
	text-align: center;
}

#nav1 li a{
	padding: 0px 20px;/*自适应且hover时左右全满*/
	text-decoration: none;
	color: white;
	display: block;/*设置链接为块级元素。hover时整个块发生改变。*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#nav1 li a:hover{
	color: green;
	background-color: white;
}

#nav1 li ul{
	list-style: none;
	display: float;
	float: left;
	width: 150px;
	line-height: 40px;/*垂直方向文本居中*/
	text-align: center;
	background-color: green;
	display: none;
}

#nav1 li:hover ul{/*移到导航栏显示下拉菜单*/
	display: block;
	background-color: green;
}

#nav1 li ul li a:hover{
	border-radius: 0px;
}

#navigationbar1{
	height: 190px;
}
